html {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
}

.td-hidden {
  display: none;
}

th.big-col {
  width: 400px !important;
}

table.report-deals {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

#main-table .form-control {
  padding: .375rem 0;
}

.bg-sunset {
  background-color: #FAD6A5 !important;
  color: black !important;
}

.bg-light-purple {
  background-color: #EA899A !important;
  color: black !important;
}

.bg-mint-cream {
  background-color: #F5FFFA !important;
  color: black !important;
}

.bg-cream {
  background-color: #FDF4E3 !important;
  color: black !important;
}

.bg-pastel-yellow {
  background-color: #EFA94A !important;
  color: black !important;
}

.bg-pastel-green {
  background-color: #77DD77 !important;
  color: black !important;
}

.bg-pastel-pink {
  background-color: #E4717A !important;
  color: black !important;
}