html {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
}

.td-hidden {
  display: none;
}

th.big-col {
  width: 400px !important;
}

table.report-deals {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

#main-table .form-control {
  padding: .375rem 0;
}