{% extends 'base.html' %}

{% block title %}Карточка предложения{% endblock %}
{% block content %}
  <div id="div-loader" style="width: 100%; height: 100%; opacity: 0.5; position: fixed; background: #bacbe6; z-index: 100; text-align: center; display: none">
    {% load static %}
    <img src="{% static 'img/loading.gif' %}" alt="loading gif">
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-2">
        <div class="card text-center fw-bold">
          <div class="card-header bg-primary text-white justify-content-center">
            <span>Суммарный эквивалент</span>
          </div>
          <div class="card-body">
            <span id="sum-equivalent">{{ sum_equivalent }}</span>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="d-flex flex-row-reverse align-items-center">
          <a href="{% url 'quotecard:index' %}?member_id={{ member_id }}&quote_id={{ quote_id }}" class="btn btn-outline-success ms-3">Обновить данные из предложения</a>
          <label for="show-all">Показывать все поля</label>
          <input class="form-check-input me-3" type="checkbox" id="show-all" onclick="showAll()">
          <button class="btn btn-outline-primary me-3" onclick="CreateArticles()">Сформировать документ по шаблону</button>
          <select class="form-select me-3 w-25" id="select-template" >
            {% for item in templates %}
              <option value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="d-flex flex-row-reverse align-items-center mt-3">
          <a href="{% url 'quotecard:export-excel' %}?member_id={{ member_id }}&quote_id={{ quote_id }}" target="_blank" class="btn btn-outline-primary">Выгрузить таблицу в Excel</a>
          <button class="btn btn-outline-primary me-3" onclick="sendProductsToDeal()">Передать товары в сделку</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <table class="table table-striped align-baseline" id="main-table">
      <thead>
        <tr>
          <th scope="col" width="5%" id="num">#</th>
          <th scope="col" width="15%" id="prod">Товар</th>
          <th scope="col" width="15%" id="print-form">В печатную форму</th>
          <th scope="col" width="10%" id="price">Цена, руб.</th>
          <th scope="col" width="5%" id="count">Кол-во</th>
          <th scope="col" width="5%" id="unit">Ед. изм.</th>

          <th scope="col" id="bonus" class="td-hidden">Скидка, %</th>
          <th scope="col" id="bonus-sum" class="td-hidden">Сумма скидки, руб.</th>
          <th scope="col" id="tax" class="td-hidden">Налог, %</th>
          <th scope="col" id="tax-sum" class="td-hidden">Сумма налога, руб.</th>

          <th scope="col" width="10%" id="sum">Сумма, руб.</th>
          <th scope="col" width="10%" id="count-days">Кол-во раб. дней</th>
          <th scope="col" width="15%" id="equivalent">Экв-нт за 1 ед.</th>
          <th scope="col" width="10%" id="prod-time">Срок производства</th>
        </tr>
      </thead>
      <tbody>
        {% if products %}
          {% for product in products %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th> {# Номер строки #}
              <td>{{ product.name }}</td> {# Наименование продукта #}
              <td data-id="{{ product.id }}"><textarea class="form-control text-input" name="print-form-1" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ product.name_for_print }}</textarea></td>
              <td>{{ product.price_netto}}</td> {# Цена за штуку #}
              <td>{{ product.quantity }}</td> {# Количество #}
              <td>{{ product.measure_name }}</td> {# Единица измерения #}

              <td class="td-hidden">{{ product.bonus }}</td> {# Процент скидки #}
              <td class="td-hidden">{{ product.bonus_sum }}</td> {# Сумма скидки #}
              <td class="td-hidden">{{ product.tax }}</td> {# Процент налога #}
              <td class="td-hidden">{{ product.tax_sum }}</td> {# Сумма налога #}

              <td>{{ product.sum }}</td> {# Общая стоимость с налогом и скидкой #}
              <td data-id="{{ product.id }}"><input class="form-control number-input" type="number" name="count-days-1"
                           value="{{ product.count_days }}"></td> {# Количество рабочих дней #}
              <td data-id="{{ product.id }}"><input class="form-control equivalent-input" type="number" name="equivalent-1"
                           value="{{ product.equivalent }}"></td> {# Эквивалент #}
              <td data-id="{{ product.id }}"><input type="date" class="form-control datepicker-input"
                         name="prod-time-1" value="{{ product.prod_time|date:'Y-m-d' }}"></td> {# Срок производства #}
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="10">Товары отсутствуют в предложении</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block user_scripts %}
  <script>
    $(".datepicker-input").focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });

    $(".datepicker-input").blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'prod-time',this);
    });

    $(".number-input").focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });

    $(".number-input").blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'count-days',this);
    });

    $(".equivalent-input").focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });

    $(".equivalent-input").blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'equivalent',this);
    });

    $(".text-input").focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });

    $(".text-input").blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'name-for-print',this);
    });

    function sendToServer(id,value,type,control) {
        $.ajax({
            url: "{% url 'quotecard:save' %}",
            type: "POST",
            data: {id: id, type: type, value: value},
        })
            .done(function () {
                $(control).removeClass('text-danger');
                $(control).addClass('text-success');
            })
            .fail(function () {
                $(control).removeClass('text-success');
                $(control).addClass('text-danger');
            });
    }

    function CreateArticles() {
        document.getElementById("div-loader").style.display = "block";
        $.ajax({
            url: "{% url 'quotecard:create-articles' %}",
            type: "POST",
            data: {member_id: "{{ member_id }}", quote_id: "{{ quote_id }}"},
        })
            .done(function (response) {
                document.getElementById("div-loader").style.display = "none";
                alert(response.info);
                if(response.result === 'success'){
                    createDoc();
                }
                window.location.href = "{% url 'quotecard:index' %}?member_id={{ member_id }}&quote_id={{ quote_id }}";
            })
            .fail(function () {
                document.getElementById("div-loader").style.display = "none";
                alert('Ошибка при создании артикулов');
            });
    }

    function createDoc() {
        const select = document.getElementById("select-template");
        const select_value = select.value;
        $.ajax({
            url: "{% url 'quotecard:create-doc' %}",
            type: "POST",
            data: {templ_id: select_value, member_id: "{{ member_id }}", deal_id: "{{ deal_id }}", quote_id: "{{ quote_id }}"},
        })
            .done(function (response) {
                console.log(response.result);
                alert('Документ успешно создан в предложении');
            })
            .fail(function () {
                alert('Ошибка создания документа в предложении');
            });
    }

    function copyProducts() {
        $.ajax({
            url: "{% url 'quotecard:copy-products' %}",
            type: "POST",
            data: {member_id: "{{ member_id }}", quote_id: "{{ quote_id }}"},
        })
            .done(function (response) {
                if(response.result === 'ok'){
                    alert('Товары успешно созданы в каталоге и обновлены в предложении');
                }
                else if(response.result === 'error'){
                    alert('Нет товаров для копирования, так как они ' +
                        'идентичны существующим.');
                }
            })
            .fail(function () {
                alert('Ошибка копирования товаров');
            });
    }

    function sendEquivalent() {
        $.ajax({
            url: "{% url 'quotecard:send-equivalent' %}",
            type: "POST",
            data: {member_id: "{{ member_id }}", deal_id: "{{ deal_id }}", quote_id: "{{ quote_id }}"},
        })
            .done(function (response) {
                alert("Суммарный эквивалент передан в сделку в размере " + response.result)
            })
            .fail(function () {
                alert('Ошибка передачи эквивалента в сделку');
            });
    }

    function sendProductsToDeal() {
        $.ajax({
            url: "{% url 'quotecard:send-products' %}",
            type: "POST",
            data: {member_id: "{{ member_id }}", deal_id: "{{ deal_id }}", quote_id: "{{ quote_id }}"},
        })
            .done(function (response) {
                alert("Товары переданы в связанную сделку №{{ deal_id }}")
            })
            .fail(function () {
                alert('Ошибка передачи товаров в сделку');
            });
    }
  </script>

{% endblock %}